<div class="notfound">
    <img class="img404" src="{{host}}/images/404.svg" alt="Pagina no encontrada - error 404">
    <span class="status404">Lo sentimos, pero la ruta <span>{{path}}</span> es incorrecta</span>
    <a href="{{host}}/" class="button widthP">Regresar</a>
</div>    