{{>header}}
<main class="container">
    <h2>¡Bienvenido {{name}}!</h2> 
    <div class="productos">
        {{#each product}}
            <div >

            </div>
        {{/each}}
    </div>

</main>
